.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #1A1A1A;
  color: white;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px; /* Adjust width as needed */
  width: 100%;
}

.about-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.about-text {
  flex-grow: 2; /* Allows the text to grow and fill space */
}

h1 {
  color: #16f2b3;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  margin: 10px;
}

.social-icons img {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}
