.contact-page {
    width: 100%;
    max-width: 60%; /* Set max-width to match other containers */
    margin: 2% auto 5%; /* Adjusted top and bottom margins for consistency */
    padding: 20px;
    border: 4px solid var(--green);
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact-form {
    display: flex; /* Using flexbox to align form sections side by side */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    width: 100%; /* Full width of the parent container */
}

.contact-form .form-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Adjusted to take up appropriate space of the form on larger screens */
    min-width: 250px; /* Ensures columns don't get too narrow */
    margin-right: 20px; /* Spacing between columns */
}

.contact-form .form-column:last-child {
    margin-right: 0; /* Removes margin from the last column */
}

.contact-form textarea {
    height: 150px; /* Updated height for the textarea */
    resize: vertical;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .contact-page {
        max-width: 100%; /* Full width on smaller devices */
        margin: 10px auto; /* Reduced margin on smaller screens */
        padding: 10px; /* Adjusted padding on smaller screens */
    }

    .contact-form {
        flex-direction: column; /* Stack the columns vertically on small screens */
    }

    .contact-form .form-column {
        margin-right: 0; /* Remove right margin on small screens */
    }

    .contact-form input,
    .contact-form textarea {
        width: calc(100% - 20px); /* Adjusting width on smaller screens */
    }
}
