/* Education section container */
.education-section {

  width: 100%;
  max-width: 82%; /* Set to the same max-width for both */
  margin-left: 8%; /* Uniform margin-left */
  margin-top: 2%; /* Uniform margin-top */
  margin-bottom: 5%; /* Uniform margin-bottom */
  padding: 20px; /* Set uniform padding */
  border: 4px solid var(--green); /* Uniform border style */
  font-size: 20px; 
  text-align: center;
    /* ... existing styles ... */
  
  }
  
  /* Education entry container */
  .education-entry {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Add spacing between elements */
    padding: 10px; /* Add padding */
    background-color: var(--background-color);
  }
  
  /* Education image */
  .education-image {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    object-fit: contain; /* Ensure image is contained within its container */
    align-self: center; 
    
    transition: transform 0.3s ease;/* Center the image horizontally */
  }
  
  /* Education information container */
  .education-info {
    flex-grow: 1; /* Allow the information container to grow to fill available space */
  }
  
  /* Education degree and year */
  .education-degree,
  .education-year {
    font-size: 1.2em; /* Adjust font size as needed */
    margin-bottom: 5px; /* Add spacing between degree and year */
  }
  
  /* Education details list */
  .education-details {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default list padding */
  }
  
  /* Education details list items */
  .education-details li {
    font-size: 1em; /* Adjust font size as needed */
    margin-bottom: 5px; /* Add spacing between list items */
  }
  
  /* Education image */
  .education-image:hover {
    cursor: pointer;
  box-shadow: 0 6px 12px 0 pink;
  transform: translateY(-5px);
    
     /* Center the image horizontally */
  }