.main-container {
  display: flex;
  border: 1px solid var(--green);
}

.content-container {
  display: flex;
  width: 100%;
}

.text-section {
  flex: 1;
  padding: 20px;
}

.images-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.image {
  /* Two images per row with a little space in between */
  margin: 5px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  
  .image {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 20px;
  }
}
