.main-container {
  width: 100%;
  max-width: 60%; /* Or the maximum width you prefer */
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 20px;
  border: 4px solid var(--green); /* Adjust as necessary */
  font-size: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.experience-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.experience-entry {
  flex: 1;
  margin-right: 20px;
}

.image-container {
  flex: 0; /* Do not grow */
}

.image {
  max-width: 100px; /* Adjust size as necessary */
  height: auto;
  border-radius: 10px; /* Rounded corners for images */
}

@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
  }
  
  .image-container {
    margin-top: 10px;
  }
}


html {
  scroll-behavior: smooth;
  margin-top:auto;
}