:root {
  --project-section-padding: 20px 10px;
  --project-section-border: 4px solid var(--green);
  --project-card-padding: 10px;
  --project-card-background-color: var(--background-color);
  --project-name-font-size: 1.3em;
  --project-name-margin-bottom: 5px;
  --project-description-margin-bottom: 5px;
  --project-technologies-font-size: 0.9em;
}

.projects-section {
  text-align: center;
  padding: var(--project-section-padding);
  border: var(--project-section-border);
  width: 100%;
  max-width: 60%; /* Set to the same max-width for both */
  margin-left: 19%; /* Uniform margin-left */
  margin-top: 2%; /* Uniform margin-top */
  margin-bottom: 5%; /* Uniform margin-bottom */
  padding: 20px; /* Set uniform padding */
  border: 4px solid var(--green); /* Uniform border style */
  font-size: 20px; /* Unif
}

.projects-container {
  display: flex;
  flex-direction: column; /* Stack project cards vertically */
  gap: 10px; /* Reduce spacing between elements */
}

.project-card {
  padding: var(--project-card-padding);
  background-color: var(--project-card-background-color);
}

.project-name {
  font-size: var(--project-name-font-size);
  margin-bottom: var(--project-name-margin-bottom);
}

.project-description {
  margin-bottom: var(--project-description-margin-bottom);
}

.project-technologies {
  font-size: var(--project-technologies-font-size);
}
