:root {
  --project-section-padding: 20px 10px;
  --project-section-border: 2px solid var(--green);
  --project-card-padding: 10px;
  --project-card-background-color: var(--background-color);
  --project-name-font-size: 1.3em;
  --project-name-margin-bottom: 5px;
  --project-description-margin-bottom: 5px;
  --project-technologies-font-size: 0.9em;
}

.projects-section {
  padding: var(--project-section-padding);
  border: var(--project-section-border);
  font-size: 20px;
  margin-top:8% ;
  width: 100%;
  max-width: 60%;
  margin-left:20%;
}

.projects-container {
  display: flex;
  flex-direction: column; /* Stack project cards vertically */
  gap: 10px; /* Reduce spacing between elements */
}

.project-card {
  padding: var(--project-card-padding);
  background-color: var(--project-card-background-color);
}

.project-name {
  font-size: var(--project-name-font-size);
  margin-bottom: var(--project-name-margin-bottom);
}

.project-description {
  margin-bottom: var(--project-description-margin-bottom);
}

.project-technologies {
  font-size: var(--project-technologies-font-size);
}
