.projects-section {
    background-color: var(--pale-peach);
    padding: 40px;
    text-align: center;
  }
  
  .projects-title {
    color: var(--light-gray);
    margin-bottom: 30px;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: var(--light-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .project-name {
    color: var(--bright-orange);
    margin-bottom: 15px;
  }
  
  .project-description {
    color: var(--light-gray);
    background-color: var(--muted-pink);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project-technologies {
    font-style: italic;
  }
  