.skills-section {
  padding: 20px;
  text-align: center;
  background-color: var(--pale-peach); /* or any other color you want */
}

.skills-title {
  color: var(--light-gray); /* This should be a color that contrasts well with the background */
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the skill-cards in the container */
  gap: 20px; /* This is the space between the skill-cards */
}

.skill-card {
  border-radius: 10px;
  padding: 1rem; /* Adjust padding to control the space around the icon inside the card */
  margin: 0.5rem; /* This will add space between the cards themselves */
  width: 120px; /* Control the width of the card */
  height: 120px; /* Control the height of the card */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray); /* Card background color */
  border: 2px solid var(--muted-pink); /* Border color for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  transform: translateY(20px); /* Start the card a bit lower */
  opacity: 0; /* Start the card transparent */
  animation: fadeInUp 0.8s ease forwards; /* Animation to control the fade-in and move up effect */
}

@keyframes fadeInUp {
  to {
    transform: translateY(0); /* Move the card to its final position */
    opacity: 1; /* Fade the card in to full opacity */
  }
}

.skill-icon {
  max-width: 100%;
  height: auto;
}
