:root {
  --background-color: #1e1e1e; /* Adjusted to a common terminal background */
  --text-color: #d4d4d4; /* Adjusted to a common terminal text color */

  /* VS Code colors */
  --blue: #569cd6;
  --green: #4ec9b0;
  --orange: #ce9178;
  --purple: #c586c0;
  --red: #f44747;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Fira Code', monospace;
}

/* Apply base styles for body to inherit in all components */
body, .education-section, .experience-section, .projects-section, .skills-section .contact-section {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-secondary);
}

/* Update the colors of headings, text, links, etc. */
h1, h2, h3, h4, h5, h6, p, a, button {
  color: var(--green); /* This will apply the green color similar to the terminal */
}

/* For interactive elements, you can specify different states like hover */
a:hover, button:hover {
  color: var(--blue); /* Hover state with a VS Code blue */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bright-orange);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light-gray); /* Ensure text color is defined for contrast */
}

.App-link {
  color: var(--muted-pink);
  transition: color 0.3s ease;
}

.App-link:hover {
  color: var(--light-orange);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.about-photo {
  width: 150px;
  height: auto;
  border-radius: 75px;
  margin-right: 10px;
}

.education-section, .experience-section, .projects-section, .skills-section {

  padding: 20px;
  background-color: var(--light-gray);
  color: var(--bright-orange); /* Adjusted for visibility */
 /* Subtle shadow for depth */
}

.education-entry, .experience-entry, .project-card, .skill-card {
 
  display: flex;
  align-items: center;
  gap: 20px;
}

.education-entry img, .experience-entry img, .project-card img, .skill-card img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cream);
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-link {
  color: var(--light-gray);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--muted-pink);
}

/* Other specific project, skill, education, and experience styles remain as previously defined */



.skills-container {
  display: flex;
  flex-direction: row; /* Aligns items in a row instead of a column */
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
  justify-content: center; /* Centers items on the main axis */
  align-items: center; /* Aligns items on the cross axis */
  gap: 20px; /* This is the space between the skill-cards */
  margin: 0 auto; /* Centers the container if it's not as wide as the parent */
}



/* Additional responsive styling if needed */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
}




/* Add media query for smaller screens to adjust font sizes */
@media (max-width: 768px) {
  .experience-entry h3, .experience-entry time, .experience-entry ul {
    font-size: 0.9em; /* Slightly smaller font sizes on mobile */
  }
}

